RUN_DIR=__RUN_DIR__
OUTPUT_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/diagnostic/elm_diagnose_iter007_abby_ctrlvertc_oat_extended/results
STAGING_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/diagnostic/elm_diagnose_iter007_abby_ctrlvertc_oat_extended/.results_staging
PICKLE_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrlvertc_sensi/ABBY/pklfiles
CONTROL_PARAMFILE=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrl_sensi/params/clm_params_c211124.nc
OBSERVATION_FILE=/xdisk/chopinsong/chopinsong/CTSM_inputdata/lnd/clm2/neon_ncar/NEON/eval_files/v4/ABBY/ABBY_cdo_merge.nc
INPUT_MANIFEST=__INPUT_MANIFEST__
INPUT_MANIFEST_SHA256=__INPUT_MANIFEST_SHA256__
REPOSITORY_COMMIT=ae143bde57c48f4af1aafd1dc9b3eec588dc9dac
TOOL_SHA256=__TOOL_SHA256__
VALIDATOR_SHA256=__VALIDATOR_SHA256__
