RUN_DIR=__RUN_DIR__
OUTPUT_DIR=__RUN_DIR__/artifacts
PICKLE_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrlvertc_sensi/ABBY/pklfiles
CONFIG_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrlvertc_sensi/ABBY/config
PARAMETER_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrlvertc_sensi/params
CONTROL_PARAMFILE=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrl_sensi/params/clm_params_c211124.nc
OBSERVATION_FILE=/xdisk/chopinsong/chopinsong/CTSM_inputdata/lnd/clm2/neon_ncar/NEON/eval_files/v4/ABBY/ABBY_cdo_merge.nc
CONTROL_PARAMFILE_SHA256=3876806bdaf2c432dde41db748b139b962068f6c1b0a1c86324c60eaf91042e9
OBSERVATION_FILE_SHA256=e5f7b6795616e3dbb2f24ef351d84f79da29847e82729db09d8756b3d9a1fdb2
POSTPROCESSING_SHA256=97be0806c99b565c06e3e0db865b9f78c3501b6f0c2771e8ac3087624b
REPOSITORY_COMMIT=ae143bde57c48f4af1aafd1dc9b3eec588dc9dac
TOOL_SHA256=__TOOL_SHA256__
FIXTURE_SHA256=__FIXTURE_SHA256__
