RUN_DIR=__RUN_DIR__
OUTPUT_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/diagnostic/elm_diagnose_iter006_jerc_oat_extended/results
STAGING_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/diagnostic/elm_diagnose_iter006_jerc_oat_extended/.results_staging
PICKLE_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrl_sensi/JERC/pklfiles
CONTROL_PARAMFILE=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrl_sensi/params/clm_params_c211124.nc
OBSERVATION_FILE=/xdisk/chopinsong/chopinsong/CTSM_inputdata/lnd/clm2/neon_ncar/NEON/eval_files/v4/JERC/JERC_cdo_merge.nc
INPUT_MANIFEST=__INPUT_MANIFEST__
INPUT_MANIFEST_SHA256=__INPUT_MANIFEST_SHA256__
REPOSITORY_COMMIT=3bd5611be007cbb4544083861fe15ba065a3f6c4
TOOL_SHA256=1795351e59e84f9525fbeab4293e630928910e397a8a4822e91be7e53926469a
VALIDATOR_SHA256=a56c538ee38d2e7e966d942ed6f5c372d8c868d28b5f7e3f304bd92d1971c16e
