RUN_DIR=<OUTPUT_ROOT>/diagnostic/attempt_N
OUTPUT_DIR=<OUTPUT_ROOT>/results
STAGING_DIR=<OUTPUT_ROOT>/diagnostic/attempt_N/results_staging
PICKLE_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrlvertc_sensi/ABBY/pklfiles
CONFIG_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrlvertc_sensi/ABBY/config
PARAMETER_DIR=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrlvertc_sensi/params
CONTROL_PARAMFILE=/xdisk/chopinsong/tianyihu/E3SM_out/SOIL_project/NEON_ctrl_sensi/params/clm_params_c211124.nc
INPUT_MANIFEST=<OUTPUT_ROOT>/preflight/attempt_N/artifacts/input_manifest.json
REPOSITORY_COMMIT=8e6f551ce1fe1b68b1eb66a77456088b41cba999
TOOL_SHA256=<TOOL_SHA256>
VALIDATOR_SHA256=<VALIDATOR_SHA256>
ENV_FILE_SHA256=02283ec147688734ecbb3aa3a562e85f5c060c8810ca5ea66c8a81fd092878bb
INPUT_MANIFEST_SHA256=<INPUT_MANIFEST_SHA256>
